@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=MonteCarlo&family=Tilt+Prism&family=Ubuntu:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=MonteCarlo&family=Ubuntu:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 62px;
    background-color: rgb(22, 22, 54);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    size: 14px;
}

nav ul li a::after {
    position: absolute;
    content: '';
    background: #918fff;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    width: 0%
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 15px;
}

nav ul li a:hover::after {
    width: 100%
}

main hr {
    border: 0;
    background: #6aa6ff;
    height: 1.2px;
    margin: 25px 60px;
}

.left {
    font-size: 1.5rem;
    color: aqua;
    font-family: 'Share Tech Mono', monospace;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 230px 0;
}

.firstsection>div {
    width: 30%;
    height: 40vh;
}

.leftsection {
    font-size: 2rem;
}

.leftsection .btn {
    background: #38404d;
    padding: 8px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    border: 3px solid #00b8ff;
}

.leftsection .btn:hover {
    background: #2a657c;
    color: rgb(0, 247, 255);
}

.leftsection a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.leftsection .btn:hover {
    background: #2a657c;
    color: rgb(0, 247, 255);
}

.rightsection img {
    width: 105%;
    margin: -40px;
}

.hassancolor {
    color: #6aa6ff;
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
}

.work {
    font-size: 0.9rem;
    color: gray;
}

.Passionate {}

.developer {}

#element {
    color: #6aa6ff;
}

.secondsection {
    max-width: 85vw;
    margin: auto;
    height: 80vh;
}

.secondsection h1 {
    font-size: 1.5rem;
}

.secondsection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0px;
    display: flex;
}

.secondsection .vertical {
    height: 90px;
    width: 1px;
    background: white;
    margin: 0 8vw;
}

.image-top {
    width: 40px;
    position: relative;
    top: -44px;
    left: -20px;
}

.image-top2 {
    width: 29px;
    position: relative;
    top: -45px;
    left: -14px;
}

.image-top3 {
    width: 66px;
    position: relative;
    top: -43px;
    left: -32px;
}

.image-top4 {
    width: 66px;
    position: relative;
    top: -43px;
    left: -32px;
}

.vertical-text {
    position: relative;
    top: 44px;
    width: 154px;
    font-size: 15px;
}

.vertical-desc {
    position: relative;
    top: 50px;
    color: gray;
    width: 150px;
    font-size: 9px;
}

/* Footer setup  */

footer {
    background-color: #0e0e1a;
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.footer>div {
    width: 233px;
}

.footer ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.footer-second ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

.footer-third ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

.footer-fourth ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

.footer-text {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    color: aqua;
    padding: 12px 0;
}